<div class="container px-5 my-5">

    <form method="post" asp-controller="ProductsManagement" asp-action="CreateProduct">
       

        <!-- نام محصول -->
        <div class="form-floating mb-3">
            <input class="form-control" id="productName" dir="rtl" name="name" placeholder="نام محصول" type="text" required />
        </div>

        <!-- قیمت -->
        <div class="form-floating mb-3">
            <input class="form-control" id="productPrice" dir="rtl" name="price" placeholder="قیمت" type="number" step="1" required />
        </div>

        <!-- موجودی انبار -->
        <div class="form-floating mb-3">
            <input class="form-control" id="productQuantity" dir="rtl" name="quantity" placeholder="موجودی انبار" type="number" required />
        </div>

     

        <!-- دکمه ارسال -->
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">ثبت</button>
        </div>
    </form>
</div>
