@model List<ShopManagement.Domain.Entities.Product>
@{

    // var products = new List<ProductModel>()
    // {
    //     new ProductModel() { Id = 1, Price = 10, Qty = 5, Title = "Glass" },
    //     new ProductModel() { Id = 2, Price = 10, Qty = 5, Title = "PC" },
    //     new ProductModel() { Id = 3, Price = 10, Qty = 5, Title = "Tablet" },
    // };

}

<h1>مدیریت محصولات</h1>

<table class="table table-bordered table-responsive table-primary table-hover">
    <thead>
    <tr>
        <th>شناسه</th>
        <th>عنوان کالا</th>
        <th>قیمت</th>
        <th>تعداد موجودی</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
        </tr>
    }
    </tbody>
</table>