@using Microsoft.AspNetCore.Razor.Language.Intermediate
@{
    ViewData["Title"] = "Env";
}





<environment include="Development">
    <div>Environment is Development</div>
</environment>


<environment exclude="Development">
    <div>Environment is NOT Development</div>
</environment>



<environment include="Staging,Development,Erfan">
    <div>Environment is: Staging, Development or Staging_2</div>
</environment>